#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.map-container {
    width: 100%;
    height: 800px;
    margin-bottom: 2rem;
}

.map-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
